doctype html
html
  head
    title Events Locator

    /Bootstrap CSS and Theme
    link{
    href="https://maxcdn.bootstrapcdn.com/......"
    rel="stylesheet" integrity="sha384-fUMURLTdEcpeY......"
    crossorigin="anonymous"
    }

    /Custom CSS
    link rel='stylesheet' href='/style.css'

  body
  /JQuery and Bootstrap JS
  script{
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-Z0sEbRLbNQ.........."
  crossorigin="anonymous"
  }
  scritp{
  src="............."
  integrity=".............."
  crossorigin="anonymous"
  }

  .container id='html_body'
    h1 Events Locator
    p Find Events near you!

  section
    include :flash_bar
    == yield
